kivy==2.1.0
kivy-garden==0.1.5
pillow==9.1.0
pygments==2.12.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
decorator==5.1.1
docutils==0.18.1
dynaconf==3.1.8
hvac==0.11.2
idna==3.3
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.4.5
kivymd==0.104.2
knox==0.1.14
loguru==0.6.0
pip==22.1
pypiwin32==223
pywin32==304
requests==2.27.1
setuptools==62.2.0
shortuuid==1.0.9
six==1.16.0
urllib3==1.26.9
validators==0.19.0
win32-setctime==1.1.0
